body{   
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(198, 215, 216);
    font-family: Playfair Display;
}

#formato{
    border-radius: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 80%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

/*Parte izquierda del documento*/
#left{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 40%;
    background: linear-gradient(160deg, #5a788a 0%, #667271 100%);

}

#container-img{
    width: 100%;
}

#fotoperfil{
    position: relative;
    display: block;
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
#nombreApellido{
    color: white;
    text-align: center;
}


#nombreApellido{
    width: 80%;
    font-size: 16px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

hr{
    height: 4px;
    width: 80%;
    background-color: white;
}
#puestobuscado{
    width: 100%;
    display: flex;
    justify-content: center;
}

.texto{
    width: 80%;
    color: white;
    display: flex;
    justify-content: center;
}

#perfil{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.descripcion{
    width: 80%;
    color: white;
    display: flex;
    justify-content: center;    
}


#list{
    width: 100%;
}

.titulo-left{
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.lista-left{
    list-style-type: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

ul li a{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

}

ul li .linkedin:hover{
    color: rgb(1, 1, 172);
}

ul li .github:hover{
    color: rgb(100, 189, 196);
}

ul li .gmail:hover{
    color: rgb(207, 188, 11);
}


/*Finaliza la parte izquierda del documento*/



/*Parte derecha del documento*/

#right{
    width: 100%;
}

.titulo-right{
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#experiencias-lab{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}  

#experiencias-lab h3 {
    font-size: 24px;
    margin-bottom: -3px;
}

#experiencias-lab p{
    font-size: 20px;
}

.container-list{
    width: 80%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.lista-tareas {
    list-style-type: georgian;
    font-size: 20px;
    font-weight: 500;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}
.box-texto{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
}


.idioma{
    font-size: 20px;
    justify-content: flex-start;
    font-weight: 500;
}

.box-edu{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.edu{
    font-weight: 500;
    font-size: 20px;
}

/*Finaliza la parte derecha del documento*/


/*Desde esta seccion empezaran las mediaQuery*/